<%= nested_form_for(talk) do |f| %>
  <div class="field">
    <%= f.label :title, class: "control-label" %>
    <%= f.text_field :title, placeholder: "Título da palestra", class: "span9 js-talk-title" %>
    <%= errors_for(f.object, :title) %>
  </div>

  <div class="field field-talk-slug clearfix">
    <%= f.label :slug, class: "control-label" %>
    <div class="input-prepend">
      <%= content_tag :span, "#{talks_url}/", class: "add-on" %>
      <%= f.text_field :slug, placeholder: "titulo-da-palestra", class: "js-talk-slug" %>
    </div>
    <span class="label" id="js-talk-slug-availability-label"></span>
    <%= errors_for(f.object, :slug) %>
  </div>

  <div class="field">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_area :description, placeholder: "Descrição sobre do que se trata a palestra.", class: "span9 wysihtml5", rows: 8 %>
    <%= errors_for(f.object, :description) %>
  </div>

  <div class="field field-talk-audiences">
    <%= f.label :audiences, class: "control-label" %>
    <p>Qual o público alvo?</p>
    <%= f.collection_select(:audience_ids, Audience.all, :id, :name, { include_hidden: false }, multiple: true) %>
    <%= f.fields_for :nested_audiences do |audience_form| %>
      <%= audience_form.text_field :name, placeholder: "Nome para a nova audiência" %>
      <%= audience_form.link_to_remove content_tag(:i, nil, class: "icon-minus"), class: "btn btn-danger" %>
      <%= errors_for(audience_form.object, :name) %>
    <% end %>
    <%= f.link_to_add :nested_audiences, model_object: Audience.new do %>
      <i class="icon-plus"></i> Adicionar uma nova audiência
    <% end %>
    <%= errors_for(f.object, :audiences) %>
  </div>

  <div class="field">
    <%= f.label :deadline, class: "control-label" %>
    <p>Quando deverá ficar pronta?</p>
    <%= f.text_field :deadline, class: "span2 datepicker", placeholder: "DD/MM/AAAA" %>
    <%= errors_for(f.object, :deadline) %>
  </div>

  <div class="field field-talk-references">
    <%= f.label :references, class: "control-label" %>
    <%= f.fields_for :references do |reference_form| %>
      <%= reference_form.text_field :url, class: "span7", placeholder: "http://www..." %>
      <%= reference_form.link_to_remove content_tag(:i, nil, class: "icon-minus"), class: "btn btn-danger" %>
      <%= errors_for(reference_form.object, :url) %>
    <% end %>
    <%= f.link_to_add :references, model_object: Reference.new do %>
      <i class="icon-plus"></i> Adicionar mais um link
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary pull-right" %>
  </div>
<% end %>
