<li>
  <div class="row-fluid">
    <div class="span2 text-center">
      <div class="well well-small">
        <%= content_tag :strong, talk.cached_votes_score %>
        <%= "ponto".pluralize talk.cached_votes_score %>
      </div>
      <%= talk.deadline %>
    </div>
    <div class="span7">
      <%= link_to talk.title, talk %>
      <%= content_tag :p, talk.description %>
      <ul class="unstyled inline">
        <%= render talk.audiences %>
      </ul>
    </div>
    <div class="span3">
      criado por:
    </div>
  </div>
  <hr>
</li>
