<%= content_for :scripts do %>
  <%= javascript_include_tag "zeroclipboard" %>
<% end %>

<div class="talk">
  <div class="page-header">
    <%= content_tag :h2, @talk.title, class: "talk-attribute" %>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <%= render @talk.user %>
    </div>
    <div class="span3">
      <%= content_tag :span, t('activemodel.attributes.talk.deadline'), class: "talk-attribute" %>
      <%= content_tag :span, @talk.deadline, class: "talk-deadline" %>
    </div>
    <div class="span6">
      <div class="input-append pull-right">
        <%= content_tag :span, @talk.path, class: "talk-link uneditable-input span4", id: "talk-access-link" %>
        <button class="btn" data-clipboard-target="talk-access-link" id="js-copy-talk-link">
          <i class="icon-copy"></i>
        </button>
      </div>
    </div>
  </div>
  <hr>

  <div class="well">
    <%= raw @talk.description %>
  </div>
  <hr>

  <div class="talk-audiences-wrapper">
    <%= content_tag :h3, t('activemodel.attributes.talk.audiences'), class: "talk-attribute" %>
    <ul class="unstyled inline">
      <%= render @talk.audiences %>
    </ul>
  </div>

  <% if @talk.references.any? %>
    <div class="talk-references-wrapper">
      <%= content_tag :h3, t('activemodel.attributes.talk.references'), class: "talk-attribute" %>
      <ol>
        <%= render @talk.references %>
      </ol>
    </div>
  <% end %>

  <hr>
  <div class="text-center">
    <h4>O que você achou da proposta?</h4>
    <%= form_tag talk_votes_path @talk do %>
      <div class="input-prepend input-append">
        <%= button_tag class: "btn has-tooltip btn-danger #{@talk.vote_active_class("dislike")}", name: "vote", data: { placement: "left" }, title: "-1 ponto", value: @talk.vote_value("dislike") do %>
          <i class="icon-thumbs-down"></i>
        <% end %>
        <%= content_tag :span, pluralize(@talk.cached_votes_score, "ponto"), class: "talk-show-score uneditable-input span2" %>
        <%= button_tag class: "btn has-tooltip btn-primary #{@talk.vote_active_class("like")}", name: "vote", data: { placement: "right" }, title: "+1 ponto", value: @talk.vote_value("like") do %>
          <i class="icon-thumbs-up"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr>
</div>
